.App {
  text-align: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
}
.AppContainer {
  color: black;
  background-color: white;
  transition: all ease 0.4s;
  height: 100%;
  margin: auto;
  padding-bottom: 98px;
}
.AppContainerDark {
  color: white;
  background-color: rgb(32, 34, 47);
  transition: all ease 0.4s;
  height: 100%;
  margin: auto;
  padding-bottom: 98px;
}

.header-container {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.slider-container {
  display: flex;
  position: absolute;
  right: 0;
}
.slider {
  width: 50px;
  height: 24px;
  margin: 0 20px;
  border-radius: 30px;
  background: linear-gradient(45deg, blue, cyan);
  display: flex;
  position: relative;
  cursor: pointer;
}
.slider-inner-left {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  transition: all ease 0.4s;
}
.slider-inner-right {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 6px;
  left: 34px;
  transition: all ease 0.4s;
}

.boxContainer {
  display: flex;
}
.card-container {
  width: 200px;
  height: 260px;
  background-color: white;
  border-top: 5px solid;
  border-radius: 7px;
  justify-content: center;
  padding: 0 30px;
  margin: 30px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
  transition: all ease 0.4s;
}
.card-container {
  width: 200px;
  height: 260px;
  border-top: 5px solid rgb(22, 3, 187);
  border-radius: 7px;
  justify-content: center;
  padding: 0 30px;
  margin: 30px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
}
.card-inner {
  width: 100%;
}
img {
  width: 30px;
  border-radius: 10px;
  display: flex;
  margin: 20px auto;
}
.card-media {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.card-followers {
  font-size: 50px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.card-followers small {
  font-size: 10px;
}

.greenUp {
  color: #0aa00f;
}
.redDown {
  color: #a00a0a;
}

.card-container-overview {
  width: 200px;
  height: 200px;
  background-color: white;
  border-top: 5px solid rgb(22, 3, 187);
  border-radius: 7px;
  justify-content: center;
  padding: 0 30px;
  margin: 30px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
  transition: all ease 0.4s;
}
.dark {
  background-color: rgb(44, 48, 73);
  transition: all ease 0.4s;
}

.card-text-overview {
  font-size: 50px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.card-text-overview p {
  margin: 0;
}
.card-text-overview small {
  font-size: 10px;
}
